*::before,
*,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2b2828;
    color: #eeeeee;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;
    max-height: 100vh;
}

h1 {
    font-size: 2rem;
    color: crimson;
    margin-bottom: 30px;
}

#buttons {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 70px;
    flex-wrap: no-wrap;
    margin-bottom: 30px;

}

.btn {
    height: 200px;
    width: 30%;
    margin-bottom: 70px;
    border-radius: 10px;
    margin-left: 70px;
    outline: none;
    border: 5px solid white;
    cursor: pointer;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

p {
    font-size: 2rem;
    margin-top: 20px;
}

.btn:hover {
    opacity: .8;
    border: 1px solid white;
    box-shadow: 0px 0px 10px white;
}


.changer {
    border: 5px solid black;
    box-shadow: 0px 0px 18px 0px crimson;
    opacity: 0.7;
}

#hide {
    display: none;
}

a {
    font-size: 1.3rem;
    padding: 6px 12px;
    background-color: rgba(220, 20, 60, 0.562);
    color: white;
    font-weight: 500;
    margin-top: 50px;
    cursor: pointer;
}

body #starter {
    margin-top: 30px;
}

#toPlay {
    color: white;
    display: inline;
    background-color: rgba(0, 0, 0, 0.486);
    padding: 20px;
}

#ytvideo {
    text-decoration: underline;
}


@media(max-width:336px) {


    #buttons {
        flex-wrap: wrap;
        width: 90%;
    }

    .btn {
        width: 40%;
        height: 100px;
        margin: auto;
        margin-bottom: 20px;
        border: 2px solid white;

    }

    .btn:hover {
        border: 2px solid white;
        opacity: .5;
    }

    #toPlay {
        font-size: 1.3rem;
        padding: 6px 12px;
    }

}